a.gallery_a{
		cursor: pointer;
		font-family: Oswald;
		font-size: 14px;
		text-align: center;
		line-height: 45px;
		border-radius: 6px;
		box-shadow: 0 2px 4px #CCCCCC;
		background: #bdea74; /* Old browsers */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JkZWE3NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZGM1NWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #bdea74 0%, #9dc55f 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bdea74), color-stop(100%,#9dc55f)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #bdea74 0%,#9dc55f 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #bdea74 0%,#9dc55f 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #bdea74 0%,#9dc55f 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #bdea74 0%,#9dc55f 100%); /* W3C */
		border: 1px solid #A2CD60;
		color: #597D21;
		text-shadow: 0 1px 0 #BCEF6D;
		padding: 10px 340px;
}

.mask{
	background: #fff;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	opacity: 0.8;
	z-index: 1;
	display: none;
}

#create_gallery{
	top:0;
	z-index: 2;
}

#create_gallery iframe{
	border: none;
	width: 100%;
	height: 595px;
}
#create_gallery iframe .contents{
	width: 786px !important;
}

#close{
	padding: 3px 10px;
	background: #222;
	color: white;
	font-weight: bold;
	position: absolute;
	right: -10px;
	top: -10px;
	z-index: 3;
	border-radius: 2px;
	cursor: pointer;
	box-shadow: 0px 0px 5px #000;
}

#close:hover{
	background: #555;
}
	
#create_gallery{
	position: absolute;
	background: #eee;
	border-radius: 4px;
	box-shadow: 0px 0px 10px #555;
	width: 831px;
	display: none;
}

.gallery_level{
	color: #888;
	padding-bottom: 20px;
	font-size: 18px; 
}

.gallery_level span{
	color: #597D21;
	font-weight: bold;
	font-size: 22px;
}

#images_gallery{
	height: 356px;
	border-bottom: 1px solid #DADADA;
}
#images_gallery .dd-handle{
	height: 40px !important;
}
#images_gallery #nestable{
	width: 340px !important;
	margin: 10px;
}

#images_gallery img{
	float: left;
	height: 30px !important;
}

#images_gallery .info_gallery{
	float: left;
	margin-left: 20px;
	font-size: 12px;
}

.block_gallery{
	height: 440px;
}

#images_gallery #nestable .dd-list .dd-item .options_gallery a{
	background: #fff;
	padding: 0px 4px;
	color: #000 !important;
	font-weight: bold;
	position: absolute;
	top: 0;
	right: 0;
	box-shadow: 0px 1px 2px #000;
	color:#000;
}

.options_gallery:hover{
	background: red;
	color: #fff;
}
