@font-face {
	font-family: 'kalinga';
	src: url('kalinga.eot');
	src: url('kalinga.eot?#iefix') format('embedded-opentype'),
			 url('kalinga.woff') format('woff'),
			 url('kalinga.ttf') format('truetype'),
			 url('kalinga.svg#kalinga') format('svg');
	font-weight: normal;
	font-style: normal;
}